body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.homeContent {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #333333;
    opacity: 0.9;
    color: white;
    border-radius: 10px;
}
.thumbList {
    list-style: none;
}
.thumbList li{
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.thumbList li img{

}

.thumbList li a{
  display: block;
  text-align: center;
}

.thumbList li a.tagLink {
  display: inline;
  text-align: center;
}