{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block body %}
    <h5>Images from {{ album.title }}</h5>
    <img src="{{ album.album_cover.image.url }}">
    <ul class="thumbList">
        {% for photo in album.pictures.all %}
        <li>
            {% thumbnail photo.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
                <a href="{% url 'imager_images:photo' photo.id %}">{{photo.title}}</a>
        {% endfor %}
        </li>
    </ul>
{% endblock %}


