{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block body %}
    <h3>{{user.username}}'s Image Library</h3>
    <h5>Albums:</h5>
    <ul class="thumbList">
        {% for album in albums %}
        <li>
            {% thumbnail album.album_cover.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <a href="{% url 'imager_images:album' album.id %}">{{album.title}}</a>
            <a href="{% url 'imager_images:edit_album' album.id %}">Edit Album</a>
        {% endfor %}
        </li>
    </ul>
    <div class="container text-center pages">
        {% if albums.has_previous %}
        <a href="?albums={{ albums.previous_page_number }}&photos={{ photos.number }}">back</a>   
        {% endif %}

            {{ albums.number }} of {{ albums.paginator.num_pages }}

        {% if albums.has_next %}    
        <a href="?albums={{ albums.next_page_number }}&photos={{ photos.number }}">next</a>
        {% endif %}
    </div>

    <h5>Single Images:</h5>
    <ul class="thumbList">
        {% for photo in photos %}
        <li>
            {% thumbnail photo.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}

            <a href="{% url 'imager_images:photo' photo.id %}">{{photo.title}}</a>
            <a href="{% url 'imager_images:edit_photo' photo.id %}">Edit Photo</a>
            {% for tag in photo.tags.all %}
            Tags:
               <a class="tagLink" href="{% url 'imager_images:tagged_photos' tag %}">{{ tag }}</a> 
            {% endfor %}
        {% endfor %}
        </li>
    </ul>
    <h5>Tags:</h5>
    <p>
        {% for tag in tags %}
            <a href="{% url 'imager_images:tagged_photos' tag.name %}">{{ tag.name }}</a>
        {% endfor %} 
    <div class="container text-center pages">
        {% if photos.has_previous %}
        <a href="?photos={{ photos.previous_page_number }}&albums={{ albums.number }}">back</a>   
        {% endif %}

            {{ photos.number }} of {{ photos.paginator.num_pages }}

        {% if photos.has_next %}    
        <a href="?photos={{ photos.next_page_number }}&albums={{ albums.number }}">next</a>
        {% endif %}
    </div>

    </p>

{% endblock %}