{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block body %}
    <h3>{{user.username}}'s Image Library</h3>
    <h5>Albums:</h5>
    <ul class="thumbList">
        {% for album in albums %}
        <li>
            {% thumbnail album.album_cover.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <a href="{% url 'imager_images:album' album.id %}">{{album.title}}</a>
        {% endfor %}
        </li>
    </ul>
    <h5>Single Images:</h5>
    <ul class="thumbList">
        {% for photo in photos %}
        <li>
            {% thumbnail photo.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}

            <a href="{% url 'imager_images:photo' photo.id %}">{{photo.title}}</a>
        {% endfor %}
        </li>
    </ul>
{% endblock %}